<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>HAPPY BIRTHDAY YOLA!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}"> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  
    <div class="text-center">


        <div id="#carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'yola1.JPEG' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'yola2.JPEG' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'yola3.JPEG' %}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'yola4.JPEG' %}" alt="Fourth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'yola5.JPEG' %}" alt="Fifth slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
       



        <h1 class="header">
            Happy Birthday Yola!!!!         
        </h1>

        <div class="subheader">
            <audio controls>
                <source src="{% static 'selamat ulang tahun.mp3' %}" type="audio/mpeg">
            </audio> 
            <div class="alert alert-dark" role="alert">
                Karena lagi corona gak bisa mesen badut, jadinya gua aja ya yang jadi badut :-) <br>
                PS. Asli bingung mau nambahin apalagi WKWK
            </div>
        </div>

    </div>
    
    
    <div class="bg-1">
        <div class="container">
            <h3 class="text-center" style="color:white;"><b>WISHES</b></h3>
            
            <div class="row">

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'murahrejeki.gif' %}">
                        <div class="card-body">
                          <p class="card-text">MURAH REJEKI</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'panjangumur.gif' %}">
                        <div class="card-body">
                          <p class="card-text">PANJANG UMUR</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'hidupmudah.gif' %}">
                        <div class="card-body">
                          <p class="card-text">DIPERMUDAH SEGALA URUSANNYA</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'hidupsehat.gif' %}">
                        <div class="card-body">
                          <p class="card-text">DILIMPAHI KESEHATAN</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'lancarkuliah.gif' %}">
                        <div class="card-body">
                          <p class="card-text">DIPERLANCAR KULIAHNYA</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'makinkeren.gif' %}">
                        <div class="card-body">
                          <p class="card-text">MAKIN KEREN</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'makinpositif.gif' %}">
                        <div class="card-body">
                          <p class="card-text">DIKELILINGI DENGAN ORANG-ORANG POSITIF</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'makinbahagia.gif' %}">
                        <div class="card-body">
                          <p class="card-text">MAKIN BAHAGIA</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'makinsukses.gif' %}">
                        <div class="card-body">
                          <p class="card-text">SEGALA YANG DIUSAHAKAN BERHASIL</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'cintadiri.gif' %}">
                        <div class="card-body">
                          <p class="card-text">MAKIN SELF-LOVING</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'dewasa.gif' %}">
                        <div class="card-body">
                          <p class="card-text">MAKIN DEWASA DALAM MENGATASI MASALAH</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'percayadiri.gif' %}">
                        <div class="card-body">
                          <p class="card-text">BISA MENERIMA KEKURANGAN & MENGEMBANGKAN KELEBIHAN</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'berdoa.gif' %}">
                        <div class="card-body">
                          <p class="card-text">SEMUA HARAPANNYA TERKABUL</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'langgeng.gif' %}">
                        <div class="card-body">
                          <p class="card-text">LANGGENG SAMA BAGUS</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'pertemanan.gif' %}">
                        <div class="card-body">
                          <p class="card-text">MAKIN SERU SAMA TEMAN-TEMANNYA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center">

        <div class="rating">
            <p>Friendship Rating:</p>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>

        <div class="row2">
            <div class="column2">
              <div class="card2">
                <p><i class="fa fa-thumbs-up"></i></p>
                <h3>90+</h3>
                <p>Kejametan</p>
              </div>
            </div>
          
            <div class="column2">
              <div class="card2">
                <p><i class="fa fa-smile-o"></i></p>
                <h3>100+</h3>
                <p>Kekocakan</p>
              </div>
            </div>
          
            <div class="column2">
              <div class="card2">
                <p><i class="fa fa-comments"></i></p>
                <h3>100+</h3>
                <p>Keseruan</p>
              </div>
            </div>
          
            <div class="column2">
              <div class="card2">
                <p><i class="fa fa-handshake-o"></i></p>
                <h3>100+</h3>
                <p>Pertemanan</p>
              </div>
            </div>
          </div>




        <h3><b>APALAGI YA...</b></h3>
        <p style="font-size: 30px;">Asli bingung gak tau mau nambahin apa lagi, simple banget ya wkwk tapi semoga semua wishes di atas terkabulkan aamiin... 
            Once again, happy birthday Yol!!! Have a great one!
            (maaf banget berantakkan & gak responsif, ngebut bos buatnya :())
        </p>
        <br>

    </div>
        
</body>
</html>