body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: white;
    background-color: black;
}

.container {
    padding: 100px 120px;
}

.header {
    font-family: 'Playfair Display';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    animation: type 2s steps(35);
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 3px 3px 0px black;
}

@keyframes type {
    0% {
        width:0ch;
    }
    100% {
        width:100ch;
    }
}

.subheader {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item {
    height: 750px;
}

.carousel-item img {
    margin-top: -120px;
}

.bg-1 {
    background;
    color: #bdbdbd;
}

h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
}

.card {
    width: 18rem; 
    margin-bottom: 10px;
}

.card .card-text {
    color: black;
    font-family: 'Playfair Display';
    text-align: center;
}

.checked {
    color: yellow;
}


/*  */

.* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column2 {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row2 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column2 {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
    font-size: 20px;
  }
  
  .fa {font-size:50px;}

  .rating {
      font-size: 30px;
  }